body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#loadingProgress {
    position: fixed;
    top: 60px;
    left: 0;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#ArButton {
    position: absolute;
    top: 80%;
    left: 40%;
    width: 20%;
    height: 2rem;
}

#diminish {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}