body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#loadingProgress {
    position: fixed;
    top: 60px;
    left: 0;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#ArButton {
    position: absolute;
    top: 80%;
    left: 40%;
    width: 20%;
    height: 2rem;
}

#diminish {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0px) translateX(-50%);
    }
    50% {
        transform: translateY(-30px) translateX(-50%);
    }
    100% {
        transform: translateY(0px) translateX(-50%);
    }
}

#floatingText {
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    background-color: lightgray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    animation: floatAnimation 3s ease-in-out infinite;
    font-family: Arial, sans-serif;
    display: none; /* Wird durch JavaScript gesteuert */
}
